In [42]:
%run Imports.ipynb

# Arquivo de teste: Outdoor_X_test_10% Apenas dados Outdoor

In [43]:
# X_test Outdoor X_test 10%
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
X_test = X_test.drop("lat", axis = 1)
X_test = X_test.drop("lon", axis = 1)
idx_test = X_test["idx"]
X_test = X_test.drop("idx", axis = 1)
X_test.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.381194,1.169714,0.327354,-166.430115,-0.972084,-0.234631,0.241369,-104.623113,-0.252460,-0.967607,...,94.651068,-0.081087,0.996707,-12.291773,6,5,1,1,5,4
1,0.664883,0.676311,1.429879,132.739565,-0.678667,0.734446,-1.082189,-28.186241,0.881417,-0.472339,...,52.782734,0.604839,0.796348,1.316627,3,3,6,0,-3,-3
2,0.983289,0.359384,1.459081,136.414634,-0.724348,0.689435,-0.951800,-21.180938,0.932444,-0.361314,...,65.553328,0.413846,0.910347,2.199723,4,2,6,2,-2,-4
3,1.232941,0.412945,1.072575,160.520250,-0.942759,0.333474,-0.353721,-106.173062,-0.278540,-0.960425,...,81.760284,0.143315,0.989677,6.905608,5,2,5,3,0,-3
4,1.062763,0.390264,1.127756,156.464321,-0.916812,0.399320,-0.435553,-79.220382,0.187032,-0.982354,...,72.361108,0.303017,0.952985,3.144991,5,2,5,3,0,-3

# Geração dos RSSIs do CDB com LightGBM do que já foi construído:

In [44]:
import time
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
T_Init = time.process_time() 
df_meds_CDB = y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB, 2)
T_Finish = time.process_time()
T_Train = T_Finish - T_Init
df_meds_CDB.to_csv("./CDB/CDB_20_LightGBM.csv", index=False)
df_meds_CDB.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-89.680131,-97.337821,-84.715735,-96.120885,-92.502184,-89.601510,-89.020608,-88.307968,-67.518463
1,-89.680131,-97.317352,-85.641425,-96.124427,-92.517819,-89.635966,-88.978475,-84.011430,-67.594526
2,-89.678052,-97.317352,-85.524734,-96.249386,-92.525365,-89.635966,-88.714333,-83.768116,-67.588212
3,-89.673889,-97.317352,-85.507153,-96.284029,-92.570165,-89.702215,-88.346791,-78.198899,-67.590505
4,-89.712320,-97.149940,-85.998541,-96.320428,-92.586597,-90.320952,-88.368641,-78.026353,-73.559036

In [45]:
T_Train

95.625

In [46]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_LightGBM = pd.read_csv("./CDB/CDB_20_LightGBM.csv")
df_meds_CDB_LightGBM['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_LightGBM['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_LightGBM['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_LightGBM['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_LightGBM['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_LightGBM['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_LightGBM['lat'] = df_meds_CDB['lat']
df_meds_CDB_LightGBM['lon'] = df_meds_CDB['lon']
df_meds_CDB_LightGBM.to_csv("./CDB/CDB_20_LightGBM_Complete.csv", index=False)
df_meds_CDB_LightGBM.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,lat,lon
0,-89.680131,-97.337821,-84.715735,-96.120885,-92.502184,-89.601510,-89.020608,-88.307968,-67.518463,8,8,2,0,6,6,-8.05955,-34.959850
1,-89.680131,-97.317352,-85.641425,-96.124427,-92.517819,-89.635966,-88.978475,-84.011430,-67.594526,8,8,2,0,6,6,-8.05955,-34.959648
2,-89.678052,-97.317352,-85.524734,-96.249386,-92.525365,-89.635966,-88.714333,-83.768116,-67.588212,8,8,2,0,6,6,-8.05955,-34.959446
3,-89.673889,-97.317352,-85.507153,-96.284029,-92.570165,-89.702215,-88.346791,-78.198899,-67.590505,8,8,2,0,6,6,-8.05955,-34.959244
4,-89.712320,-97.149940,-85.998541,-96.320428,-92.586597,-90.320952,-88.368641,-78.026353,-73.559036,8,7,2,1,6,5,-8.05955,-34.959042

# Implementação do SVR:

In [41]:
X_train.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.700955,0.817077,1.003914,170.300045,-0.985704,0.168489,-0.170932,-140.369867,-0.770178,-0.637829,...,111.047839,-0.359147,0.933281,-2.598602,7,3,4,4,3,-1
1,1.033631,0.441063,1.084138,158.740948,-0.931951,0.362585,-0.389061,-79.014274,0.190564,-0.981675,...,71.009564,0.325410,0.945573,2.905786,4,2,5,2,-1,-3
2,1.842431,0.754229,1.282026,162.522455,-0.953835,0.300332,-0.314868,-160.287276,-0.941396,-0.337304,...,110.133971,-0.344216,0.938890,-2.727616,8,3,5,5,3,-2
3,0.504172,1.189880,0.963842,-153.791074,-0.897190,-0.441646,0.492255,-59.996942,0.500046,-0.865999,...,26.342679,0.896156,0.443739,0.495158,2,5,4,-3,-2,1
4,1.041922,1.716220,0.740720,-125.345414,-0.578504,-0.815679,1.409980,-74.987028,0.259038,-0.965867,...,-15.625870,0.963041,-0.269355,-0.279692,4,7,3,-3,1,4

In [20]:
from sklearn import svm
X = X_train
y = y_train_rssi_1_1
regr = svm.SVR()
regr.fit(X, y)

#regr.predict([[1, 1]])

C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [13]:
from sklearn import svm

def SVR_TCC(X_train, y_train, X_test):

    X = X_train
    y = y_train
    regr = svm.SVR(C=256, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8, kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
    """('MAE :', 1.9799347439789106, '| RMSE :', 3.2850703889062696, '| best_svr :', SVR(C=256/era 64, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False))"""
    regr.fit(X, y)
    y_pred = regr.predict(X_test)
    
    return y_pred

def y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test):
     
    y_pred_rssi_1_1 = SVR_TCC(X_train, y_train_rssi_1_1, X_test)
    y_pred_rssi_1_2 = SVR_TCC(X_train, y_train_rssi_1_2, X_test)
    y_pred_rssi_1_3 = SVR_TCC(X_train, y_train_rssi_1_3, X_test)
    
    y_pred_rssi_2_1 = SVR_TCC(X_train, y_train_rssi_2_1, X_test)
    y_pred_rssi_2_2 = SVR_TCC(X_train, y_train_rssi_2_2, X_test)
    y_pred_rssi_2_3 = SVR_TCC(X_train, y_train_rssi_2_3, X_test)
    
    y_pred_rssi_3_1 = SVR_TCC(X_train, y_train_rssi_3_1, X_test)
    y_pred_rssi_3_2 = SVR_TCC(X_train, y_train_rssi_3_2, X_test)
    y_pred_rssi_3_3 = SVR_TCC(X_train, y_train_rssi_3_3, X_test)
    
    y_pred_rssi_1_1 = pd.DataFrame({'rssi_1_1':  y_pred_rssi_1_1})
    y_pred_rssi_1_2 = pd.DataFrame({'rssi_1_2':  y_pred_rssi_1_2})
    y_pred_rssi_1_3 = pd.DataFrame({'rssi_1_3':  y_pred_rssi_1_3})
    
    y_pred_rssi_2_1 = pd.DataFrame({'rssi_2_1':  y_pred_rssi_2_1})
    y_pred_rssi_2_2 = pd.DataFrame({'rssi_2_2':  y_pred_rssi_2_2})
    y_pred_rssi_2_3 = pd.DataFrame({'rssi_2_3':  y_pred_rssi_2_3})
    
    y_pred_rssi_3_1 = pd.DataFrame({'rssi_3_1':  y_pred_rssi_3_1})
    y_pred_rssi_3_2 = pd.DataFrame({'rssi_3_2':  y_pred_rssi_3_2})
    y_pred_rssi_3_3 = pd.DataFrame({'rssi_3_3':  y_pred_rssi_3_3})
    
    y_pred = pd.concat([y_pred_rssi_1_1, y_pred_rssi_1_2, y_pred_rssi_1_3, y_pred_rssi_2_1, y_pred_rssi_2_2, y_pred_rssi_2_3, y_pred_rssi_3_1, y_pred_rssi_3_2, y_pred_rssi_3_3], axis=1)
    
    return y_pred

# Geração dos RSSIs do CDB com SVR do que já foi construído:

In [14]:
import time
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
T_Init = time.process_time() 
df_meds_CDB = y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB)
T_Finish = time.process_time()
T_Train = T_Finish - T_Init
df_meds_CDB.to_csv("./CDB/CDB_20_SVR.csv", index=False)
df_meds_CDB.head()

C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055
1,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055
2,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055
3,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055
4,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055

In [15]:
T_Train

23.484375

In [16]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_LightGBM = pd.read_csv("./CDB/CDB_20_SVR.csv")
df_meds_CDB_LightGBM['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_LightGBM['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_LightGBM['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_LightGBM['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_LightGBM['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_LightGBM['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_LightGBM['lat'] = df_meds_CDB['lat']
df_meds_CDB_LightGBM['lon'] = df_meds_CDB['lon']
df_meds_CDB_LightGBM.to_csv("./CDB/CDB_20_SVR_Complete.csv", index=False)
df_meds_CDB_LightGBM.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,lat,lon
0,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055,8,8,2,0,6,6,-8.05955,-34.959850
1,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055,8,8,2,0,6,6,-8.05955,-34.959648
2,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055,8,8,2,0,6,6,-8.05955,-34.959446
3,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055,8,8,2,0,6,6,-8.05955,-34.959244
4,-88.788651,-93.055373,-88.844995,-88.678757,-90.505841,-89.121785,-87.254446,-90.797592,-92.089055,8,7,2,1,6,5,-8.05955,-34.959042

oiu
oiu
oiu
oiu

0.0