In [43]:
%run Imports.ipynb

# Arquivo de teste: Outdoor_X_test_10% Apenas dados Outdoor

In [44]:
# X_test Outdoor X_test 10%
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
X_test = X_test.drop("lat", axis = 1)
X_test = X_test.drop("lon", axis = 1)
idx_test = X_test["idx"]
X_test = X_test.drop("idx", axis = 1)
X_test.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.381194,1.169714,0.327354,-166.430115,-0.972084,-0.234631,0.241369,-104.623113,-0.252460,-0.967607,...,94.651068,-0.081087,0.996707,-12.291773,6,5,1,1,5,4
1,0.664883,0.676311,1.429879,132.739565,-0.678667,0.734446,-1.082189,-28.186241,0.881417,-0.472339,...,52.782734,0.604839,0.796348,1.316627,3,3,6,0,-3,-3
2,0.983289,0.359384,1.459081,136.414634,-0.724348,0.689435,-0.951800,-21.180938,0.932444,-0.361314,...,65.553328,0.413846,0.910347,2.199723,4,2,6,2,-2,-4
3,1.232941,0.412945,1.072575,160.520250,-0.942759,0.333474,-0.353721,-106.173062,-0.278540,-0.960425,...,81.760284,0.143315,0.989677,6.905608,5,2,5,3,0,-3
4,1.062763,0.390264,1.127756,156.464321,-0.916812,0.399320,-0.435553,-79.220382,0.187032,-0.982354,...,72.361108,0.303017,0.952985,3.144991,5,2,5,3,0,-3

# Geração dos RSSIs do CDB com LightGBM do que já foi construído:

In [49]:
import time
import tracemalloc

In [50]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")#20
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
tracemalloc.start()
T_Init = time.process_time() 
df_meds_CDB = y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB, 2)
T_Finish = time.process_time()
T_Train = T_Finish - T_Init
df_meds_CDB.to_csv("./CDB/CDB_20_LightGBM.csv", index=False)
#df_meds_CDB.head()

In [51]:
T_Train

8.484375

In [52]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_LightGBM = pd.read_csv("./CDB/CDB_20_LightGBM.csv")
df_meds_CDB_LightGBM['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_LightGBM['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_LightGBM['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_LightGBM['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_LightGBM['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_LightGBM['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_LightGBM['lat'] = df_meds_CDB['lat']
df_meds_CDB_LightGBM['lon'] = df_meds_CDB['lon']
df_meds_CDB_LightGBM.to_csv("./CDB/CDB_20_LightGBM_Complete.csv", index=False)
#df_meds_CDB_LightGBM.head()
current, peak = tracemalloc.get_traced_memory()
print(f"Current memory usage is {current / 10**6}MB; Peak was {peak / 10**6}MB")
tracemalloc.stop()

Current memory usage is 2.162661MB; Peak was 15.995198MB

# Geração dos RSSIs do CDB com SVR do que já foi construído:

In [40]:
import time
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
#tracemalloc.start()
T_Init = time.process_time() 
df_meds_CDB = y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB)
T_Finish = time.process_time()
T_Train = T_Finish - T_Init
df_meds_CDB.to_csv("./CDB/CDB_20_SVR.csv", index=False)
#df_meds_CDB.head()

In [41]:
T_Train

12.53125

In [42]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_SVR = pd.read_csv("./CDB/CDB_20_SVR.csv")
df_meds_CDB_SVR['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_SVR['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_SVR['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_SVR['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_SVR['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_SVR['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_SVR['lat'] = df_meds_CDB['lat']
df_meds_CDB_SVR['lon'] = df_meds_CDB['lon']
df_meds_CDB_SVR.to_csv("./CDB/CDB_20_SVR_Complete.csv", index=False)
#df_meds_CDB_SVR.head()
#current, peak = tracemalloc.get_traced_memory()
#print(f"Current memory usage is {current / 10**6}MB; Peak was {peak / 10**6}MB")
#tracemalloc.stop()

Current memory usage is 2.155572MB; Peak was 14.237401MB

In [8]:
import numpy as np
from sklearn.model_selection import KFold
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
y = np.array([1, 2, 3, 4])
kf = KFold(n_splits=2)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=2, random_state=None, shuffle=False)

In [9]:
KFold(n_splits=2, random_state=None, shuffle=False)
for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [2 3] TEST: [0 1]
TRAIN: [0 1] TEST: [2 3]

In [37]:
import pandas as pd

train_set = pd.read_csv("databasesTCC/Outdoordf.csv")
train_set = train_set.drop(['rssi_1_2','rssi_1_3','rssi_2_1','rssi_2_2','rssi_2_3','rssi_3_1','rssi_3_2','rssi_3_3'], axis = 1)
train_set.head()

,idx,rssi_1_1,lat,lon,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,6615,-91.447143,-8.05955,-34.94621,1.894647,0.755828,1.370858,160.314800,-0.941558,0.336852,...,109.954589,-0.341275,0.939963,-2.754268,8,3,6,5,2,-3
1,6616,-96.240000,-8.05955,-34.94617,1.896137,0.754851,1.375003,160.189356,-0.940818,0.338913,...,109.891893,-0.340247,0.940336,-2.763691,8,3,6,5,2,-3
2,6617,-91.447143,-8.05953,-34.94626,1.890713,0.754931,1.364923,160.449473,-0.942347,0.334638,...,109.946260,-0.341139,0.940013,-2.755516,8,3,6,5,2,-3
3,6618,-90.180000,-8.05953,-34.94614,1.895180,0.751975,1.377364,160.072636,-0.940125,0.340829,...,109.758570,-0.338057,0.941125,-2.783921,8,3,6,5,2,-3
4,6619,-91.447143,-8.05952,-34.94632,1.887466,0.755419,1.358329,160.627426,-0.943382,0.331710,...,109.997568,-0.341980,0.939707,-2.747840,8,3,6,5,2,-3

In [38]:
import lightgbm as lgb

params = {}
params['learning_rate'] = 0.005 #0.003
params['boosting_type'] = 'goss'
params['metric'] = 'mse'
params['max_depth'] = 7 #ok
params['num_leaves'] = 32 #ok
params['min_data_in_leaf'] = 21 #ok
params['feature_fraction'] = 1 # ok
params['lambda_l1'] = 8.5 #ok
params['lambda_l2'] = 10 #ok
params['min_split_gain'] = 10 #
params['min_child_weight'] = 41 #52
params['nthreads'] = 2 #ok
params['top_rate'] = 0.90 #ok
params['other_rate'] = 0.07 # ok
     
lgb.cv(params, train_set, num_boost_round=400, folds=None, nfold=5, stratified=False, shuffle=True, metrics=None, fobj=None, feval=None, init_model=None, feature_name='auto', categorical_feature='auto', early_stopping_rounds=None, fpreproc=None, verbose_eval=None, show_stdv=True, seed=0, callbacks=None, eval_train_metric=False)

TypeError: Training only accepts Dataset object

In [34]:
def test_lightgbm_cpu():
    import numpy as np
    import pandas as pd
    import lightgbm as lgb

    X1 = np.repeat(np.arange(10), 1000)
    X2 = np.repeat(np.arange(10), 1000)
    np.random.shuffle(X2)

    y = (X1 + np.random.randn(10000)) * (X2 + np.random.randn(10000))
    data = pd.DataFrame({'y': y, 'X1': X1, 'X2': X2})

    lgb_params = {'learning_rate': 0.1,
                  'boosting': 'gbdt',
                  'objective': 'regression',
                  'metric': 'rmse',
                  'feature_fraction': 0.9,
                  'bagging_fraction': 0.75,
                  'num_leaves': 31,
                  'bagging_freq': 1,
                  'min_data_per_leaf': 250}
    lgb_train = lgb.Dataset(data=data[['X1', 'X2']], label=data.y)
    cv = lgb.cv(lgb_params,
                lgb_train,
                num_boost_round=100,
                early_stopping_rounds=15,
                stratified=False,
                verbose_eval=50)

In [35]:
test_lightgbm_cpu()

[50]	cv_agg's rmse: 7.55563 + 0.11739
[100]	cv_agg's rmse: 7.51596 + 0.1326

# K-fold SVR:

In [219]:
import pandas
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
import numpy as np
import pandas as pd

In [220]:
dataset = pd.read_csv("databasesTCC/Outdoordf.csv")
#dataset

In [221]:
X = dataset.iloc[:, 12:]
z = dataset.iloc[:, 0]
y_names = ['rssi_1_1','rssi_1_2','rssi_1_3','rssi_2_1','rssi_2_2','rssi_2_3','rssi_3_1','rssi_3_2','rssi_3_3']

In [222]:
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)
scores = []
best_svr = SVR(C=64, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8, kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
cv = KFold(n_splits=10, random_state=42, shuffle=True)
y = dataset.iloc[:, 1]
#y.head()

In [223]:
y_columns_names = []
y_names = ['rssi_1_1','rssi_1_2','rssi_1_3','rssi_2_1','rssi_2_2','rssi_2_3','rssi_3_1','rssi_3_2','rssi_3_3']
columns = ['_Fold:1', '_Fold:2', '_Fold:3', '_Fold:4', '_Fold:5','_Fold:6','_Fold:7','_Fold:8','_Fold:9','_Fold:10']
i = 0
for label in y_names:
    #print(label)
    for fold in columns:
        #print(fold)
        #print(label + fold)
        y_columns_names.append(label + fold)
        i = i + 1
#y_columns_names

In [224]:
df_y_pred = pd.DataFrame(index = range(0,5986), columns= y_columns_names)
df_y_pred = df_y_pred.fillna(0) # with 0s rather than NaNs
df_y_pred.head()

,rssi_1_1_Fold:1,rssi_1_1_Fold:2,rssi_1_1_Fold:3,rssi_1_1_Fold:4,rssi_1_1_Fold:5,rssi_1_1_Fold:6,rssi_1_1_Fold:7,rssi_1_1_Fold:8,rssi_1_1_Fold:9,rssi_1_1_Fold:10,...,rssi_3_3_Fold:1,rssi_3_3_Fold:2,rssi_3_3_Fold:3,rssi_3_3_Fold:4,rssi_3_3_Fold:5,rssi_3_3_Fold:6,rssi_3_3_Fold:7,rssi_3_3_Fold:8,rssi_3_3_Fold:9,rssi_3_3_Fold:10
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
for i in range(1, 10):
    y = dataset.iloc[:, i]
    j = 1
    for train_index, test_index in cv.split(X):
        X_train, X_test, y_train, y_test = X[train_index], X[test_index], y[train_index], y[test_index]
        train_index
        z_index = z[test_index]
        best_svr.fit(X_train, y_train)
        #scores.append(best_svr.score(X_test, y_test))#Somar mais 600 dados indoor
        df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv") #X_test
        df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
        df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
        X_test = df_meds_CDB
        y_pred = best_svr.predict(X_test)
        df_y_pred[y.name+'_Fold:'+str(j)] = pd.DataFrame({y.name: y_pred})
        j = j + 1

In [226]:
df_y_pred.head()

,rssi_1_1_Fold:1,rssi_1_1_Fold:2,rssi_1_1_Fold:3,rssi_1_1_Fold:4,rssi_1_1_Fold:5,rssi_1_1_Fold:6,rssi_1_1_Fold:7,rssi_1_1_Fold:8,rssi_1_1_Fold:9,rssi_1_1_Fold:10,...,rssi_3_3_Fold:1,rssi_3_3_Fold:2,rssi_3_3_Fold:3,rssi_3_3_Fold:4,rssi_3_3_Fold:5,rssi_3_3_Fold:6,rssi_3_3_Fold:7,rssi_3_3_Fold:8,rssi_3_3_Fold:9,rssi_3_3_Fold:10
0,-88.07475,-88.452942,-88.294663,-88.254912,-88.533814,-88.286554,-88.368079,-88.712731,-88.40178,-88.417464,...,-90.77438,-90.877758,-90.977316,-90.842066,-90.851323,-90.827509,-91.382203,-91.107223,-90.993323,-90.918373
1,-88.07475,-88.452942,-88.294663,-88.254912,-88.533814,-88.286554,-88.368079,-88.712731,-88.40178,-88.417464,...,-90.77438,-90.877758,-90.977316,-90.842066,-90.851323,-90.827509,-91.382203,-91.107223,-90.993323,-90.918373
2,-88.07475,-88.452942,-88.294663,-88.254912,-88.533814,-88.286554,-88.368079,-88.712731,-88.40178,-88.417464,...,-90.77438,-90.877758,-90.977316,-90.842066,-90.851323,-90.827509,-91.382203,-91.107223,-90.993323,-90.918373
3,-88.07475,-88.452942,-88.294663,-88.254912,-88.533814,-88.286554,-88.368079,-88.712731,-88.40178,-88.417464,...,-90.77438,-90.877758,-90.977316,-90.842066,-90.851323,-90.827509,-91.382203,-91.107223,-90.993323,-90.918373
4,-88.07475,-88.452942,-88.294663,-88.254912,-88.533814,-88.286554,-88.368079,-88.712731,-88.40178,-88.417464,...,-90.77438,-90.877758,-90.977316,-90.842066,-90.851323,-90.827509,-91.382203,-91.107223,-90.993323,-90.918373

In [227]:
k = 10 #Number of k-fold

#df_y_pred_rssi_1_1:
df_y_pred_rssi_1_1 = 0
for i in range(1,k+1):
    df_y_pred_rssi_1_1 =  df_y_pred_rssi_1_1 + df_y_pred['rssi_1_1_Fold:'+ str(i)]
df_y_pred_rssi_1_1 = df_y_pred_rssi_1_1/k
#df_y_pred_rssi_1_1.head()

#df_y_pred_rssi_1_2:
df_y_pred_rssi_1_2 = 0
for i in range(1,k+1):
    df_y_pred_rssi_1_2 =  df_y_pred_rssi_1_2 + df_y_pred['rssi_1_2_Fold:'+ str(i)]
df_y_pred_rssi_1_2 = df_y_pred_rssi_1_2/k
#df_y_pred_rssi_1_2.head()

#df_y_pred_rssi_1_3:
df_y_pred_rssi_1_3 = 0
for i in range(1,k+1):
    df_y_pred_rssi_1_3 =  df_y_pred_rssi_1_3 + df_y_pred['rssi_1_3_Fold:'+ str(i)]
df_y_pred_rssi_1_3 = df_y_pred_rssi_1_3/k
#df_y_pred_rssi_1_3.head()

#df_y_pred_rssi_2_1:
df_y_pred_rssi_2_1 = 0
for i in range(1,k+1):
    df_y_pred_rssi_2_1 =  df_y_pred_rssi_2_1 + df_y_pred['rssi_2_1_Fold:'+ str(i)]
df_y_pred_rssi_2_1 = df_y_pred_rssi_2_1/k
#df_y_pred_rssi_2_1.head()

#df_y_pred_rssi_2_2:
df_y_pred_rssi_2_2 = 0
for i in range(1,k+1):
    df_y_pred_rssi_2_2 =  df_y_pred_rssi_2_2 + df_y_pred['rssi_2_2_Fold:'+ str(i)]
df_y_pred_rssi_2_2 = df_y_pred_rssi_2_2/k
#df_y_pred_rssi_2_2.head()

#df_y_pred_rssi_2_3:
df_y_pred_rssi_2_3 = 0
for i in range(1,k+1):
    df_y_pred_rssi_2_3 =  df_y_pred_rssi_2_3 + df_y_pred['rssi_2_3_Fold:'+ str(i)]
df_y_pred_rssi_2_3 = df_y_pred_rssi_2_3/k
#df_y_pred_rssi_2_3.head()

#df_y_pred_rssi_3_1:
df_y_pred_rssi_3_1 = 0
for i in range(1,k+1):
    df_y_pred_rssi_3_1 =  df_y_pred_rssi_3_1 + df_y_pred['rssi_3_1_Fold:'+ str(i)]
df_y_pred_rssi_3_1 = df_y_pred_rssi_3_1/k
#df_y_pred_rssi_3_1.head()

#df_y_pred_rssi_3_2:
df_y_pred_rssi_3_2 = 0
for i in range(1,k+1):
    df_y_pred_rssi_3_2 =  df_y_pred_rssi_3_2 + df_y_pred['rssi_3_2_Fold:'+ str(i)]
df_y_pred_rssi_3_2 = df_y_pred_rssi_3_2/k
#df_y_pred_rssi_3_2.head()

#df_y_pred_rssi_3_3:
df_y_pred_rssi_3_3 = 0
for i in range(1,k+1):
    df_y_pred_rssi_3_3 =  df_y_pred_rssi_3_3 + df_y_pred['rssi_3_3_Fold:'+ str(i)]
df_y_pred_rssi_3_3 = df_y_pred_rssi_3_3/k
#df_y_pred_rssi_3_3.head()

In [228]:
df_y_pred_rssi = []
for i in range(1,4):
    for j in range(1,4):
        df_y_pred_rssi.append('df_y_pred_rssi_'+ str(i) +'_' + str(j))
df_y_pred_rssi

['df_y_pred_rssi_1_1',
 'df_y_pred_rssi_1_2',
 'df_y_pred_rssi_1_3',
 'df_y_pred_rssi_2_1',
 'df_y_pred_rssi_2_2',
 'df_y_pred_rssi_2_3',
 'df_y_pred_rssi_3_1',
 'df_y_pred_rssi_3_2',
 'df_y_pred_rssi_3_3']

In [229]:
y_pred_SVR = pd.concat([df_y_pred_rssi_1_1, df_y_pred_rssi_1_2, df_y_pred_rssi_1_3, df_y_pred_rssi_2_1, df_y_pred_rssi_2_2, df_y_pred_rssi_2_3, df_y_pred_rssi_3_1, df_y_pred_rssi_3_2, df_y_pred_rssi_3_3], axis=1)
df_meds_CDB_SVR = y_pred_SVR
df_meds_CDB_SVR.rename(columns={0:'rssi_1_1',
                                1:'rssi_1_2',
                                2:'rssi_1_3',
                                3:'rssi_2_1',
                                4:'rssi_2_2',
                                5:'rssi_2_3',
                                6:'rssi_3_1',
                                7:'rssi_3_2',
                                8:'rssi_3_3',
                               }, 
                 inplace=True)

df_meds_CDB_SVR.to_csv("./CDB/CDB_20_SVR_K-fold.csv", index=False)
df_meds_CDB_SVR.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147
1,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147
2,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147
3,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147
4,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147

In [230]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_SVR = pd.read_csv("./CDB/CDB_20_SVR_K-fold.csv")
df_meds_CDB_SVR['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_SVR['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_SVR['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_SVR['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_SVR['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_SVR['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_SVR['lat'] = df_meds_CDB['lat']
df_meds_CDB_SVR['lon'] = df_meds_CDB['lon']
df_meds_CDB_SVR.to_csv("./CDB/CDB_20_SVR_Complete_K-fold.csv", index=False)
df_meds_CDB_SVR.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,lat,lon
0,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147,8,8,2,0,6,6,-8.05955,-34.959850
1,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147,8,8,2,0,6,6,-8.05955,-34.959648
2,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147,8,8,2,0,6,6,-8.05955,-34.959446
3,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147,8,8,2,0,6,6,-8.05955,-34.959244
4,-88.379769,-92.800858,-86.973773,-90.090574,-91.146347,-88.445136,-90.444002,-91.64384,-90.955147,8,7,2,1,6,5,-8.05955,-34.959042

In [232]:
#print(np.mean(scores))

In [233]:
#print(scores)