In [149]:
import sklearn
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from PyRadioLoc.Utils.GeoUtils import GeoUtils

In [150]:
def get_distance_array(y_pred, y_test):
    dist = list()
    for y_sample, y_pred in  zip(y_test, y_pred):
        dist.append(GeoUtils.distanceInKm(y_sample[0], y_sample[1], y_pred[0], y_pred[1]))
    return dist

def get_quality_metrics(y_pred, y_test):
    dist = get_distance_array(y_pred, y_test)
    localization_error_min = min(dist)*1000
    localization_error_max = max(dist)*1000
    localization_error_mean = np.mean(dist)*1000
    localization_error_standard_deviation = np.std(dist)*1000
    print("min:            %0.2f m" % localization_error_min)
    print("max:            %0.2f m" % localization_error_max)
    print("mean:           %0.2f m" % localization_error_mean)
    print("std deviation:  %0.2f m" % localization_error_standard_deviation)
    
def write_to_csv(y_pred_lat, y_pred_lon, test_id, file_path):
    #y_pred_dataframe = pd.DataFrame(y_pred, columns=['lat', 'lon'])
    y_pred_dataframe = pd.concat([y_pred_lat, y_pred_lon, test_id], axis=1)
    y_pred_dataframe.to_csv(path_or_buf=file_path, index = False)

In [151]:
X_train = pd.read_csv("databasesTCC/Outdoor_X_train_90%.csv")
#X_train = X_train.drop("lat", axis = 1)
#X_train = X_train.drop("lon", axis = 1)
X_train = X_train.drop("idx", axis = 1)
X_train.head()

,dist_1,dist_2,dist_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.700955,0.817077,1.003914,7,3,4,4,3,-1
1,1.033631,0.441063,1.084138,4,2,5,2,-1,-3
2,1.842431,0.754229,1.282026,8,3,5,5,3,-2
3,0.504172,1.189880,0.963842,2,5,4,-3,-2,1
4,1.041922,1.716220,0.740720,4,7,3,-3,1,4

In [152]:
def y_Lat_Lon(file):
    y = pd.read_csv(file)
    #y.head()
    y_lat = y.drop("lon", axis = 1)
    #y_lat.head()
    y_lon = y.drop("lat", axis = 1)
    #y_lon.head()
    
    return y_lat, y_lon

In [153]:
def y_RSSIs(file):
    y = pd.read_csv(file)
    y_rssi_1_1 = y.drop(["rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_1_2 = y.drop(["rssi_1_1","rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_1_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_1 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_2 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_3_1 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_3_2 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_3"], axis = 1)
    y_rssi_3_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2"], axis = 1)
    
    return y_rssi_1_1, y_rssi_1_2, y_rssi_1_3, y_rssi_2_1, y_rssi_2_2, y_rssi_2_3, y_rssi_3_1, y_rssi_3_2, y_rssi_3_3

In [154]:
#y_train lat and Lon Outdoor 90%
#y_train_lat, y_train_lon 
y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3 = y_RSSIs("DatabasesTCC/Outdoor_y_train_90%.csv")
y_train_rssi_1_1.head()

    rssi_1_1
0 -91.801429
1 -87.827143
2 -96.500000
3 -76.247143
4 -75.950000

In [155]:
#y_train_rssi_2_3

In [156]:
# X_test Outdoor X_test 10%
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
#X_test = X_test.drop("lat", axis = 1)
#X_test = X_test.drop("lon", axis = 1)
idx_test = X_test["idx"]
X_test = X_test.drop("idx", axis = 1)
X_test.head()

,dist_1,dist_2,dist_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.381194,1.169714,0.327354,6,5,1,1,5,4
1,0.664883,0.676311,1.429879,3,3,6,0,-3,-3
2,0.983289,0.359384,1.459081,4,2,6,2,-2,-4
3,1.232941,0.412945,1.072575,5,2,5,3,0,-3
4,1.062763,0.390264,1.127756,5,2,5,3,0,-3

# LightGBM

In [161]:
import lightgbm as lgb

In [162]:
def LightGBM_TCC(X_train, y_train, X_test):

    # Feature Scaling
    from sklearn.preprocessing import StandardScaler
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    d_train = lgb.Dataset(X_train, label=y_train)
    #d_train
    params = {}
    params['learning_rate'] = 1.0
    params['boosting_type'] = 'gbdt'#'gbdt'
    params['metric'] = 'mae'
    params['sub_feature'] = 0.8
    params['num_leaves'] = 255
    params['min_data'] = 1
    #params['max_depth'] = 10
    clf = lgb.train(params, d_train, 10000)
    #Prediction
    y_pred=clf.predict(X_test)
    #y_pred     
    
    return y_pred

In [163]:
def y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test, Metodo_Num):
    #y_train_lat, y_train_lon#
     
    y_pred_rssi_1_1 = LightGBM_TCC(X_train, y_train_rssi_1_1, X_test)
    y_pred_rssi_1_2 = LightGBM_TCC(X_train, y_train_rssi_1_2, X_test)
    y_pred_rssi_1_3 = LightGBM_TCC(X_train, y_train_rssi_1_3, X_test)
    
    y_pred_rssi_2_1 = LightGBM_TCC(X_train, y_train_rssi_2_1, X_test)
    y_pred_rssi_2_2 = LightGBM_TCC(X_train, y_train_rssi_2_2, X_test)
    y_pred_rssi_2_3 = LightGBM_TCC(X_train, y_train_rssi_2_3, X_test)
    
    y_pred_rssi_3_1 = LightGBM_TCC(X_train, y_train_rssi_3_1, X_test)
    y_pred_rssi_3_2 = LightGBM_TCC(X_train, y_train_rssi_3_2, X_test)
    y_pred_rssi_3_3 = LightGBM_TCC(X_train, y_train_rssi_3_3, X_test)
    
    #y_pred_lat = LightGBM_TCC(X_train, y_train_lat, X_test)
    #y_pred_lon = LightGBM_TCC(X_train, y_train_lon, X_test)
    
    #y_pred_lat = pd.DataFrame({'lat': y_pred_lat})
    #y_pred_lat.head()
    #y_pred_lon = pd.DataFrame({'lon': y_pred_lon})
    #y_pred_lon.head()
    
    y_pred_rssi_1_1 = pd.DataFrame({'RSSI_1_1':  y_pred_rssi_1_1})
    y_pred_rssi_1_2 = pd.DataFrame({'RSSI_1_2':  y_pred_rssi_1_2})
    y_pred_rssi_1_3 = pd.DataFrame({'RSSI_1_3':  y_pred_rssi_1_3})
    
    y_pred_rssi_2_1 = pd.DataFrame({'RSSI_2_1':  y_pred_rssi_2_1})
    y_pred_rssi_2_2 = pd.DataFrame({'RSSI_2_2':  y_pred_rssi_2_2})
    y_pred_rssi_2_3 = pd.DataFrame({'RSSI_2_3':  y_pred_rssi_2_3})
    
    y_pred_rssi_3_1 = pd.DataFrame({'RSSI_3_1':  y_pred_rssi_3_1})
    y_pred_rssi_3_2 = pd.DataFrame({'RSSI_3_2':  y_pred_rssi_3_2})
    y_pred_rssi_3_3 = pd.DataFrame({'RSSI_3_3':  y_pred_rssi_3_3})
    
    y_pred = pd.concat([y_pred_rssi_1_1, y_pred_rssi_1_2, y_pred_rssi_1_3, y_pred_rssi_2_1, y_pred_rssi_2_2, y_pred_rssi_2_3, y_pred_rssi_3_1, y_pred_rssi_3_2, y_pred_rssi_3_3], axis=1)
    #y_pred.head()
    #write_to_csv(y_pred, "ResultTCC/Resultados_Metodo_{}.csv".format(Metodo_Num))
    
    return y_pred

# Outdoor 10% Test

In [164]:
#Test Outdoor 10%
y_pred = y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test, 2)
y_pred.head()

,RSSI_1_1,RSSI_1_2,RSSI_1_3,RSSI_2_1,RSSI_2_2,RSSI_2_3,RSSI_3_1,RSSI_3_2,RSSI_3_3
0,-98.471581,-97.107301,-95.325815,-95.678494,-92340.364429,-92.116893,-82284.959531,-69555.726963,-93.555864
1,-99.634285,-80.954285,-97.745716,-91.704998,-98.837502,-97.461426,-99.506668,-103.005001,-94.407501
2,-97.004548,-84.424976,-93.653879,-57.062467,-81189.275745,-90.078505,-101.460848,-45849.541913,-98.630904
3,-92.422623,-90.242142,-93.064644,-75.959999,-91.410004,-84.459999,-85.190002,-93248.000000,-97255.000000
4,-86.216752,-86.236818,-89.275538,-76.195206,-39845.042180,-79.498500,-90.881201,-92571.997314,-97.600103

In [165]:
y_pred

,RSSI_1_1,RSSI_1_2,RSSI_1_3,RSSI_2_1,RSSI_2_2,RSSI_2_3,RSSI_3_1,RSSI_3_2,RSSI_3_3
0,-98.471581,-97.107301,-95.325815,-95.678494,-92340.364429,-92.116893,-82284.959531,-69555.726963,-93.555864
1,-99.634285,-80.954285,-97.745716,-91.704998,-98.837502,-97.461426,-99.506668,-103.005001,-94.407501
2,-97.004548,-84.424976,-93.653879,-57.062467,-81189.275745,-90.078505,-101.460848,-45849.541913,-98.630904
3,-92.422623,-90.242142,-93.064644,-75.959999,-91.410004,-84.459999,-85.190002,-93248.000000,-97255.000000
4,-86.216752,-86.236818,-89.275538,-76.195206,-39845.042180,-79.498500,-90.881201,-92571.997314,-97.600103
5,-84.692945,-84.343330,-86.160746,-60.420374,-15651.784515,-77.636907,-18.083759,-580.632552,-97254.963909
6,-100.451772,-85.699861,-94.740147,-66.457759,662.819977,-84.818370,-1207.664655,-40328.781240,-96.358619
7,-88.719491,-93.945435,-99.676416,-99.559738,-94.845437,-96.222766,-88.175759,-99520.010716,-97.569107
8,-80.800746,-86.371897,-83.838034,-90.164944,-32077.970931,-87.175372,-84.263157,-92205.123124,-98.731053
9,-80.120994,-96.470188,-81.359814,-97.719469,-101.928745,-93.288643,-80885.000006,-101.256589,-96.688601
10,4371.868513,-95.596627,-88.122124,-95.330002,16880.082594,-95.967623,-99946.422138,-97852.953336,5405.022820
11,-9895.009131,-87.446636,33118.792192,-8425.888861,-90.823805,-87.156185,-112186.043449,-95.810001,-98.033950
12,-94.561440,-94.380029,-96.724170,-76.896578,-1514.070712,-93.643951,-97.870791,-157.119047,-98.912499
13,-76.510002,-76.320000,-93.709999,-93.519997,-92.040001,-90.201431,-90.051666,-99034.000000,-94.407501
14,-98.709644,-86.217043,-48806.978366,-77.866582,-48207.512713,-96.637370,-99.675985,-7232.327321,-96.559998
15,-90.926873,-96.199603,-92.791298,-97.852938,-91935.000154,-92.655194,-77.822494,-72.858717,-96.799719
16,-41714.674418,-93.123573,-85.356251,-96.423332,-97.544064,-98.303749,-83.849998,-106544.000000,-92.300552
17,-86.448570,-91.339996,-92.085716,-73.080002,-82.012497,-74.019997,-91.248337,-88.129997,-97255.000000
18,-90.088301,-93.384925,-90.682468,-91.877378,-84917.517824,-86.733387,-90.416064,-973.140733,-96.609554
19,-91865.000000,-90.417145,-85.699997,-86.510002,-91.139999,-86.472855,-91.803337,-96142.000000,-97.787498
20,-89.212962,-92.326697,-90.289588,-85.689764,-98.020084,-89.519683,21.567885,-94.730588,-95.922178
21,-77.917178,-88.435247,-71.136090,-92.435336,63.768546,-91.984311,-80.750661,-2800.449974,-76.487681
22,-97.029999,-96.139999,-96.339996,-95.404724,-87.602501,-93.669998,-91.559998,-80634.000000,-96.279999
23,-90.742917,-99.575958,-89.002187,-95.939216,-100.928578,-90.728182,-65.581940,-91386.920964,-78.197656
24,-89.569864,-95.113936,-89.325501,-98.230452,-150.995469,-97.469987,-87.221235,-102654.142792,-83.575243
25,-88.306753,-95.531393,-92.914829,-94.145265,-2673.379407,-92.519093,-19273.877110,-122.091068,-97.392532
26,-86.839996,-97.007141,-89.089996,-98.330002,-96.142502,-93.965714,-65.251663,-86.575996,-87.660004
27,-91.829369,-99.045238,-94.573707,-98.500876,-97488.976139,-94.909356,1587.468602,-66877.106246,-90.099321
28,-86.200658,-98.246021,-93.699095,-99.199033,-584.759937,-93.520382,-21.266446,-97957.816760,-68.463416
29,-86.785895,-92.634603,-90.510002,-82.259827,-94.475256,-85.711474,-91.521519,2.453267,-95.922472
...,...,...,...,...,...,...,...,...,...
277,-1953.410048,-100.689512,-82.485820,3215.698393,-72529.370044,-96.066560,-88.188351,74097.178167,-106431.344701
278,-94.654350,-97.355676,-96.486037,-88.278282,-92274.625425,-94.928707,-969.339617,-66802.877641,-93.615269
279,-103.330002,-86.602859,-84.070000,-80.820000,-95.087502,-90.169998,-96.519997,-97346.000000,-96.792503
280,-90.696093,-97.654248,-86.116050,-99.137882,-99085.043879,-93.745549,-63113.366140,-89098.815867,-89475.000693
281,-86.461426,-92.151428,-85.949997,-77.629997,-72.820000,-84.889999,-90.166664,-91412.000000,-97.599998
282,-90.719826,-70.734123,-71.221655,-58844.133571,-108.214183,-92.362950,-248.501542,-101375.265353,-94.407068
283,-83.432905,-99.504803,-87.059069,-97.944855,-96.957715,-91.071422,-71.598940,-93.689648,-99.800036
284,-88.207855,-96.148575,-101.680000,-99.279999,-93.667503,-94.384285,-91.193336,-96342.000000,-97.620003
285,-86.448570,-89.732857,-90.404289,-71.459999,-78325.000000,-77.209999,-92.708336,-92398.000000,-97255.000000
286,-82.539827,-98.255333,-73.936192,-101.774048,-98.461709,-90.652792,-83.409134,-100.262613,-95.770474
287,-79.888246,-81.380232,-85.005612,-7873.715061,-82.415411,-95.047312,-97.145536,168.802473,-94.589202
288,-79.760002,-94.349998,-89.541428,-90.583336,-84.330002,-89.638573,-81.570000,-96096.000000,-95605.000000
289,-83.698286,-90.365110,-87.424823,-81.368496,-45561.661363,-86.472011,-60.475655,-96141.795562,-97.893355
290,-83.343330,-99.250002,-91.778769,-102.092430,1658.426885,-89.029537,-97.359316,-99515.958639,-97765.004558
291,-91.218575,-92.157143,-91.926666,-91.059998,-42506.324862,-83.102142,-91.623337,-90598.000000,-95.730003
292,-93.415475,-94.078998,-92.868169,-84.424160,-85.103341,-77.756048,-96.133429,-95753.999225,-97.272499
293,-88.900002,-79.320000,-86.437141,-86.709999,-92.040001,-90.201431,-90.051666,-99034.000000,-94.407501
294,-79.550203,-95.216162,-78.393492,-98.636707,-97.914513,-94.169686,-83.841363,-102.053753,-97.349998
295,-80.945565,-91.631218,-81.832512,-88.017924,-365.864717,-91.752182,-94.466898,-93224.031105,-95604.977593
296,-81.010002,-72.260002,-81.070000,-89.540001,-92.040001,-89.769997,-90.051666,-99034.000000,-94.407501
297,-81.765717,-100.805717,-82.167145,-95.720001,-100225.000000,-84.330002,-72.668335,-89368.000000,-75.709999
298,-100.322144,-88.639286,-100.586430,-81.380001,-100.205002,-98.067860,-102.207500,-101744.000000,-96.919998
299,-89.553781,-93.584107,-96.299853,-73.916889,-117.765109,-91.008447,-90.936645,-99799.584512,-97.599998
300,-90.024284,-89605.000000,-88.558571,-83.379997,-96.312500,-88.449997,-95.790001,-97346.000000,-96.792503
301,-95.150002,-92.384285,-78.760002,-96.423332,-101.690002,-95.104286,-83.118332,-106544.000000,-87.080002
302,-89.466827,-90.191150,-95.811523,-73.704226,646.543375,-90.548231,-93.046811,-100827.698394,-97.599993
303,-83.697281,-94.121136,-89.075726,-86.720646,718.545270,-89.873434,-92.305886,293.016179,-95606.973671
304,-96.332768,-90.640973,-97.832429,-84.747674,-100.532882,-102.514089,-96.603286,-100414.082808,-96.563398
305,-79.208650,-49220.022085,-94.364052,-99.551684,-84.401790,-94.341555,-41665.754818,-97.902936,-93853.939510
306,-91.118695,-91.338510,-92.217957,-95.333470,355.918859,-77.746698,-95.307949,-90519.540339,-96.372498

In [81]:
y_test = pd.read_csv("databases/Outdoor_y_test_10%.csv")
y_test.head()

       lat       lon
0 -8.05556 -34.95494
1 -8.04750 -34.94757
2 -8.04986 -34.94585
3 -8.05393 -34.94827
4 -8.05223 -34.94815

In [84]:
def Results(y_test, y_pred):

    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
    results = [mean_absolute_error(y_test, y_pred), mean_squared_error(y_test, y_pred), np.sqrt(mean_squared_error(y_test, y_pred)), r2_score(y_test, y_pred)]
    return results

In [85]:
def ResultsMeters(y_test, y_pred):
    y_test_np = y_test.to_numpy()
    #y_test_np
    y_pred_np = y_pred.to_numpy()
    #y_pred_np
    return get_quality_metrics(y_test_np, y_pred_np)

# Outdoor 10% test Result

In [66]:
results = Results(y_test, y_pred)
results

[3.174927002410336e-05,
 2.254089963970837e-09,
 4.747725733412617e-05,
 0.999811700899088]

In [68]:
metros = ResultsMeters(y_test, y_pred)
metros

min:            0.20 m
max:            29.68 m
mean:           5.68 m
std deviation:  4.76 m

# Outdoor 10% test LightGBM Figerprinting:

In [78]:
#Outdoor Fingerprinting
y_pred_OutdoorFP = pd.read_csv("FinalResult/Resultados_Metodo_1.csv")
y_pred_OutdoorFP = y_pred_OutdoorFP.drop("pontoId",axis = 1 )
y_pred_OutdoorFP.head()

        lat        lon
0 -8.054650 -34.952289
1 -8.054025 -34.951749
2 -8.054650 -34.952289
3 -8.054025 -34.951749
4 -8.053312 -34.949375

In [79]:
metros = ResultsMeters(y_test, y_pred_OutdoorFP)
metros

min:            19.48 m
max:            1151.93 m
mean:           559.21 m
std deviation:  263.15 m

# Indoor 10% test LightGBM

In [86]:
X_test_indoor = pd.read_csv("databases/indoor_X_test_10%.csv")
idx_indoor = X_test_indoor['idx']
X_test_indoor = X_test_indoor.drop("idx", axis = 1)
X_test_indoor = X_test_indoor.drop("lat", axis = 1)
X_test_indoor = X_test_indoor.drop("lon", axis = 1)
X_test_indoor.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delta_1_12,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,-101.196667,-115.00,-96.04,-115.00,-96.790000,-96.100000,-94.420000,-90.220000,-115.0,13.803333,...,91.721709,-0.030045,0.999549,-33.268415,6,4,3,2,3,1
1,-100.830000,-115.00,-98.56,-115.00,-94.796667,-97.648571,-99.255000,-96.904000,-115.0,14.170000,...,94.509673,-0.078627,0.996904,-12.678838,6,3,3,3,3,0
2,-98.748000,-97.85,-98.61,-98.49,-90.710000,-90.820000,-100.030000,-95.910000,-115.0,-0.898000,...,91.518430,-0.026499,0.999649,-37.724728,6,3,3,3,3,0
3,-115.000000,-115.00,-115.00,-115.00,-115.000000,-115.000000,-91.107143,-93.163333,-115.0,0.000000,...,92.652203,-0.046273,0.998929,-21.587655,6,4,3,2,3,1
4,-98.748000,-99.67,-98.61,-97.80,-88.115000,-90.684286,-100.030000,-91.585000,-115.0,0.922000,...,91.518430,-0.026499,0.999649,-37.724728,6,3,3,3,3,0

In [87]:
#Test Indoor 10%
y_pred_indoor = y_pred_write_File(X_train, y_train_lat, y_train_lon, X_test_indoor, 3, idx_indoor)
y_pred_indoor.head()

        lat        lon
0 -8.055488 -34.951628
1 -8.055720 -34.951331
2 -8.055462 -34.951251
3 -8.055522 -34.951651
4 -8.055470 -34.951259

In [88]:
y_test_indoor = pd.read_csv("databases/indoor_y_test_10%.csv")
y_test_indoor.head()

        lat        lon
0 -8.055506 -34.951693
1 -8.055834 -34.951362
2 -8.055494 -34.951316
3 -8.055605 -34.951728
4 -8.055494 -34.951316

In [89]:
results_indoor = Results(y_test_indoor, y_pred_indoor)
results_indoor

[7.32755443748502e-05,
 6.629763120829612e-09,
 8.142335734191764e-05,
 0.7364731959189301]

In [90]:
metros_indoor = ResultsMeters(y_test_indoor, y_pred_indoor)
metros_indoor

min:            3.59 m
max:            17.10 m
mean:           12.32 m
std deviation:  3.14 m