In [28]:
import pandas as pd
import numpy as np
import math
import os
from matplotlib import pyplot as plt
from PyRadioLoc.Utils.GeoUtils import GeoUtils
%run UtilsLightGBMFingerPrinting.ipynb

In [29]:
FILES = [
    
    #k = 1 LightGBM
    './FinalResult/Resultados_Metodo_28.csv',  # CDB gerado com LightGBM dados Outdoor
    './FinalResult/Resultados_Metodo_29.csv',  # CDB gerado com LightGBM dados Indoor
    './FinalResult/Resultados_Metodo_30.csv',  # CDB gerado com LightGBM dados Indoor-Outdoor
    
    #k = 2 LightGBM
    './FinalResult/Resultados_Metodo_31.csv',  # CDB gerado com LightGBM dados Outdoor
    './FinalResult/Resultados_Metodo_32.csv',  # CDB gerado com LightGBM dados Indoor
    './FinalResult/Resultados_Metodo_33.csv',  # CDB gerado com LightGBM dados Indoor-Outdoor
    
    #k = 3 LightGBM
    './FinalResult/Resultados_Metodo_34.csv',  # CDB gerado com LightGBM dados Outdoor
    './FinalResult/Resultados_Metodo_35.csv',  # CDB gerado com LightGBM dados Indoor
    './FinalResult/Resultados_Metodo_36.csv',  # CDB gerado com LightGBM dados Indoor-Outdoor
    
    #k = 4 LightGBM
    './FinalResult/Resultados_Metodo_37.csv',  # CDB gerado com LightGBM dados Outdoor
    './FinalResult/Resultados_Metodo_38.csv',  # CDB gerado com LightGBM dados Indoor
    './FinalResult/Resultados_Metodo_39.csv',  # CDB gerado com LightGBM dados Indoor-Outdoor
    
    #k = 5 LightGBM
    './FinalResult/Resultados_Metodo_40.csv',  # CDB gerado com LightGBM dados Outdoor
    './FinalResult/Resultados_Metodo_41.csv',  # CDB gerado com LightGBM dados Indoor
    './FinalResult/Resultados_Metodo_42.csv',  # CDB gerado com LightGBM dados Indoor-Outdoor
    
    
]
METHODS = [x.split("_")[-1].split(".")[0] for x in FILES]     # lista contendo os metodos que ser√£o usados
db = pd.read_csv('databases/meds_pandas.csv')
erbs = pd.read_csv('databases/Bts.csv')
#errorLocation = pd.read_csv('result/erros.csv')
ERROS_CSV_FILE = './result-k-fold/erros-LightGBM-k-fold.csv'

In [30]:
# Gera o dataframe contendo os erros
errors_df = calculate_theorical_errors()
round(errors_df.describe(), 2)

,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
count,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00,400.00
mean,42.82,89.01,68.40,45.46,80.01,61.36,42.36,90.73,69.80,43.88,86.31,64.72,44.29,100.89,74.86
std,36.39,16.50,34.42,38.28,21.50,34.57,36.76,25.71,40.18,39.73,19.56,38.11,35.21,22.68,43.93
min,0.55,44.05,2.89,1.88,44.58,2.55,0.44,44.05,0.54,0.74,44.05,1.12,1.34,44.05,0.94
25%,15.89,78.90,39.21,17.76,57.92,32.61,16.14,76.55,39.10,15.27,72.39,27.94,18.30,87.04,33.07
50%,30.44,89.89,73.04,34.48,78.90,57.92,30.33,91.12,76.00,31.56,89.89,65.40,34.53,102.64,82.07
75%,63.50,95.81,93.25,60.96,93.25,89.89,58.03,112.33,93.25,62.88,95.81,93.25,63.14,112.33,109.28
max,216.66,116.27,163.83,229.28,176.09,176.09,231.33,137.37,214.49,231.99,125.79,222.43,217.26,137.37,209.19

# LightGBM-Outdoor:

In [31]:
test_erro = round(errors_df.describe(), 2)
test_erros = errors_df
mean_outdoor = (test_erros['28'] + test_erros['31'] + test_erros['34'] + test_erros['37'] + test_erros['40'])/5
mean_outdoor.head()

0    53.478
1    34.744
2    72.638
3    50.678
4    53.538
dtype: float64

In [32]:
min_outdoor = min(test_erro['28']['min'], test_erro['31']['min'], test_erro['34']['min'], test_erro['37']['min'], test_erro['40']['min'])
min_outdoor

0.44

In [33]:
max_outdoor = max(test_erro['28']['max'], test_erro['31']['max'], test_erro['34']['max'], test_erro['37']['max'], test_erro['40']['max'])
max_outdoor

231.99

# LightGBM-Indoor:

In [34]:
mean_indoor = (test_erros['29'] + test_erros['32'] + test_erros['35'] + test_erros['38'] + test_erros['41'])/5
mean_indoor.head()

0     68.016
1     90.088
2     98.940
3     85.440
4    105.404
dtype: float64

In [35]:
min_outdoor = min(test_erro['29']['min'], test_erro['32']['min'], test_erro['35']['min'], test_erro['38']['min'], test_erro['41']['min'])
min_outdoor

44.05

In [36]:
max_outdoor = max(test_erro['29']['max'], test_erro['32']['max'], test_erro['35']['max'], test_erro['38']['max'], test_erro['41']['max'])
max_outdoor

176.09

# LightGBM-Indoor-Outdoor:

In [37]:
mean_indoor_outdoor = (test_erros['30'] + test_erros['33'] + test_erros['36'] + test_erros['39'] + test_erros['42'])/5
mean_indoor_outdoor.head()

0    53.732
1    44.520
2    64.190
3    21.434
4    49.976
dtype: float64

In [38]:
min_outdoor = min(test_erro['30']['min'], test_erro['33']['min'], test_erro['36']['min'], test_erro['39']['min'], test_erro['42']['min'])
min_outdoor

0.54

In [39]:
max_outdoor = max(test_erro['30']['max'], test_erro['33']['max'], test_erro['36']['max'], test_erro['39']['max'], test_erro['42']['max'])
max_outdoor

222.43

In [40]:
#errors_df.to_csv(ERROS_CSV_FILE, index=False)

In [41]:
erros_LightGBM = [mean_outdoor,mean_indoor, mean_indoor_outdoor ]
erros_LightGBM = pd.DataFrame(erros_LightGBM)
erros_LightGBM = erros_LightGBM.T
erros_LightGBM = round(erros_LightGBM,2)
erros_LightGBM.to_csv(ERROS_CSV_FILE, index=False)
erros_LightGBM.head()

       0       1      2
0  53.48   68.02  53.73
1  34.74   90.09  44.52
2  72.64   98.94  64.19
3  50.68   85.44  21.43
4  53.54  105.40  49.98

In [42]:
results_LightGBM = round(erros_LightGBM.describe(), 2)
results_LightGBM 
#results_LightGBM.to_csv('./result-k-fold/Result-LightGBM-k-fold.csv', index=False)

            0       1       2
count  400.00  400.00  400.00
mean    43.76   89.39   67.83
std     16.11   17.40   28.95
min     13.12   44.60   12.87
25%     32.02   81.60   42.49
50%     42.47   90.09   67.44
75%     53.03   98.94   91.10
max    113.90  119.34  131.38