In [1]:
import sklearn
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from PyRadioLoc.Utils.GeoUtils import GeoUtils

In [6]:
def get_distance_array(y_pred, y_test):
    dist = list()
    for y_sample, y_pred in  zip(y_test, y_pred):
        dist.append(GeoUtils.distanceInKm(y_sample[0], y_sample[1], y_pred[0], y_pred[1]))
    return dist

def get_quality_metrics(y_pred, y_test):
    dist = get_distance_array(y_pred, y_test)
    localization_error_min = min(dist)*1000
    localization_error_max = max(dist)*1000
    localization_error_mean = np.mean(dist)*1000
    localization_error_standard_deviation = np.std(dist)*1000
    print("min:            %0.2f m" % localization_error_min)
    print("max:            %0.2f m" % localization_error_max)
    print("mean:           %0.2f m" % localization_error_mean)
    print("std deviation:  %0.2f m" % localization_error_standard_deviation)
    
def write_to_csv(y_pred_lat, y_pred_lon, test_id, file_path):
    #y_pred_dataframe = pd.DataFrame(y_pred, columns=['lat', 'lon'])
    y_pred_dataframe = pd.concat([y_pred_lat, y_pred_lon, test_id], axis=1)
    y_pred_dataframe.to_csv(path_or_buf=file_path, index = False)
    
def y_RSSIs(file):
    y = pd.read_csv(file)
    y_rssi_1_1 = y.drop(["rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_1_2 = y.drop(["rssi_1_1","rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_1_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_1 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_2 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_2_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_3_1", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_3_1 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_2", "rssi_3_3"], axis = 1)
    y_rssi_3_2 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_3"], axis = 1)
    y_rssi_3_3 = y.drop(["rssi_1_1","rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2"], axis = 1)
    
    return y_rssi_1_1, y_rssi_1_2, y_rssi_1_3, y_rssi_2_1, y_rssi_2_2, y_rssi_2_3, y_rssi_3_1, y_rssi_3_2, y_rssi_3_3

def Results(y_test, y_pred):

    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
    results = [mean_absolute_error(y_test, y_pred), mean_squared_error(y_test, y_pred), np.sqrt(mean_squared_error(y_test, y_pred)), r2_score(y_test, y_pred)]
    return results

def ResultsMeters(y_test, y_pred):
    y_test_np = y_test.to_numpy()
    #y_test_np
    y_pred_np = y_pred.to_numpy()
    #y_pred_np
    return get_quality_metrics(y_test_np, y_pred_np)
np.arange(-2,19, dtype=float)

array([-2., -1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.,
       11., 12., 13., 14., 15., 16., 17., 18.])

# Implementação LightGBM:

In [7]:
"""learning_rate1.0"""

'learning_rate1.0'

In [8]:
import lightgbm as lgb

def LightGBM_TCC(X_train, y_train, X_test):

    # Feature Scaling
    from sklearn.preprocessing import StandardScaler
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    d_train = lgb.Dataset(X_train, label=y_train)
    #d_train
    params = {}
    params['learning_rate'] = 0.005 #0.003
    params['boosting_type'] = 'goss'
    params['metric'] = 'mse'
    
    #Paramentros atuais do projeto do dia 01/10/20
    #params['metric'] = 'rmse'
    #params['max_depth'] = 8
    #params['num_leaves']= 90
    #params['feature_fraction'] = 0.7
    #params['max_bin'] = 5
    #params['min_data_in_leaf'] = 61
    #params['lambda_l1'] = 8
    #params['lambda_l2'] = 10
    #params['min_split_gain'] = 10
    #params['top_rate'] = 0.90
    #params['min_child_weight'] = 42
    #params['other_rate'] = 0.07    
    
    
    #Paramentros atuais do projeto antes dia 01/10/20
    

    params['max_depth'] = 7 #ok
    params['num_leaves'] = 32 #ok
    params['min_data_in_leaf'] = 21 #ok
    params['feature_fraction'] = 1 # ok
    params['lambda_l1'] = 8.5 #ok
    params['lambda_l2'] = 10 #ok
    params['min_split_gain'] = 10 #
    params['min_child_weight'] = 41 #52
    params['nthreads'] = 2 #ok
    params['top_rate'] = 0.90 #ok
    params['other_rate'] = 0.07 # ok
     
    # Estou usando este 03/10
    #params['max_depth'] = 6 #8
    #params['num_leaves']= 50 #90
    #params['metric'] = 'mse'
    #params['top_rate'] = 0.90, #0.9064148448434349,
    #params['min_child_weight'] = 42 #41.9612869171337,
    #params['other_rate'] = 0.07 # 0.0721768246018207,
    #params['feature_fraction'] = 0.70 #0.56, #0.5665320670155495,
    #params['min_split_gain'] = 10 #9.820197773625843,
    #params['lambda_l1'] = 9.5 #9.677537745007898,
    #params['lambda_l2'] = 8 #8.2532317400459,
    #params['min_data_in_leaf'] = 21
    #params['nthreads'] = 2
    
    
    clf = lgb.train(
        params,
        d_train,
        num_boost_round=400,
        verbose_eval=100)
    
    #Prediction
    y_pred=clf.predict(X_test)

    return y_pred

def y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test, Metodo_Num):
    #y_train_lat, y_train_lon#
     
    y_pred_rssi_1_1 = LightGBM_TCC(X_train, y_train_rssi_1_1, X_test)
    y_pred_rssi_1_2 = LightGBM_TCC(X_train, y_train_rssi_1_2, X_test)
    y_pred_rssi_1_3 = LightGBM_TCC(X_train, y_train_rssi_1_3, X_test)
    
    y_pred_rssi_2_1 = LightGBM_TCC(X_train, y_train_rssi_2_1, X_test)
    y_pred_rssi_2_2 = LightGBM_TCC(X_train, y_train_rssi_2_2, X_test)
    y_pred_rssi_2_3 = LightGBM_TCC(X_train, y_train_rssi_2_3, X_test)
    
    y_pred_rssi_3_1 = LightGBM_TCC(X_train, y_train_rssi_3_1, X_test)
    y_pred_rssi_3_2 = LightGBM_TCC(X_train, y_train_rssi_3_2, X_test)
    y_pred_rssi_3_3 = LightGBM_TCC(X_train, y_train_rssi_3_3, X_test)
    
    
    y_pred_rssi_1_1 = pd.DataFrame({'rssi_1_1':  y_pred_rssi_1_1})
    y_pred_rssi_1_2 = pd.DataFrame({'rssi_1_2':  y_pred_rssi_1_2})
    y_pred_rssi_1_3 = pd.DataFrame({'rssi_1_3':  y_pred_rssi_1_3})
    
    y_pred_rssi_2_1 = pd.DataFrame({'rssi_2_1':  y_pred_rssi_2_1})
    y_pred_rssi_2_2 = pd.DataFrame({'rssi_2_2':  y_pred_rssi_2_2})
    y_pred_rssi_2_3 = pd.DataFrame({'rssi_2_3':  y_pred_rssi_2_3})
    
    y_pred_rssi_3_1 = pd.DataFrame({'rssi_3_1':  y_pred_rssi_3_1})
    y_pred_rssi_3_2 = pd.DataFrame({'rssi_3_2':  y_pred_rssi_3_2})
    y_pred_rssi_3_3 = pd.DataFrame({'rssi_3_3':  y_pred_rssi_3_3})
    
    y_pred = pd.concat([y_pred_rssi_1_1, y_pred_rssi_1_2, y_pred_rssi_1_3, y_pred_rssi_2_1, y_pred_rssi_2_2, y_pred_rssi_2_3, y_pred_rssi_3_1, y_pred_rssi_3_2, y_pred_rssi_3_3], axis=1)
  
    return y_pred

# Implementação do SVR:

In [ ]:
from sklearn import svm

def SVR_TCC(X_train, y_train, X_test):

    X = X_train
    y = y_train
    regr = svm.SVR(C=64, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8, kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
    """('MAE :', 1.9799347439789106, '| RMSE :', 3.2850703889062696, '| best_svr :', SVR(C=256/era 64, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False))"""
    regr.fit(X, y.values.ravel())
    y_pred = regr.predict(X_test)
    
    return y_pred

def y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test):
     
    y_pred_rssi_1_1 = SVR_TCC(X_train, y_train_rssi_1_1, X_test)
    y_pred_rssi_1_2 = SVR_TCC(X_train, y_train_rssi_1_2, X_test)
    y_pred_rssi_1_3 = SVR_TCC(X_train, y_train_rssi_1_3, X_test)
    
    y_pred_rssi_2_1 = SVR_TCC(X_train, y_train_rssi_2_1, X_test)
    y_pred_rssi_2_2 = SVR_TCC(X_train, y_train_rssi_2_2, X_test)
    y_pred_rssi_2_3 = SVR_TCC(X_train, y_train_rssi_2_3, X_test)
    
    y_pred_rssi_3_1 = SVR_TCC(X_train, y_train_rssi_3_1, X_test)
    y_pred_rssi_3_2 = SVR_TCC(X_train, y_train_rssi_3_2, X_test)
    y_pred_rssi_3_3 = SVR_TCC(X_train, y_train_rssi_3_3, X_test)
    
    y_pred_rssi_1_1 = pd.DataFrame({'rssi_1_1':  y_pred_rssi_1_1})
    y_pred_rssi_1_2 = pd.DataFrame({'rssi_1_2':  y_pred_rssi_1_2})
    y_pred_rssi_1_3 = pd.DataFrame({'rssi_1_3':  y_pred_rssi_1_3})
    
    y_pred_rssi_2_1 = pd.DataFrame({'rssi_2_1':  y_pred_rssi_2_1})
    y_pred_rssi_2_2 = pd.DataFrame({'rssi_2_2':  y_pred_rssi_2_2})
    y_pred_rssi_2_3 = pd.DataFrame({'rssi_2_3':  y_pred_rssi_2_3})
    
    y_pred_rssi_3_1 = pd.DataFrame({'rssi_3_1':  y_pred_rssi_3_1})
    y_pred_rssi_3_2 = pd.DataFrame({'rssi_3_2':  y_pred_rssi_3_2})
    y_pred_rssi_3_3 = pd.DataFrame({'rssi_3_3':  y_pred_rssi_3_3})
    
    y_pred = pd.concat([y_pred_rssi_1_1, y_pred_rssi_1_2, y_pred_rssi_1_3, y_pred_rssi_2_1, y_pred_rssi_2_2, y_pred_rssi_2_3, y_pred_rssi_3_1, y_pred_rssi_3_2, y_pred_rssi_3_3], axis=1)
    
    return y_pred

In [9]:
X_train = pd.read_csv("databasesTCC/Outdoor_X_train_90%.csv")
X_train = X_train.drop("lat", axis = 1)
X_train = X_train.drop("lon", axis = 1)
X_train = X_train.drop("idx", axis = 1)
X_train.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.623132,0.504054,1.266725,158.235526,-0.928716,0.370792,-0.399252,-155.889424,-0.912759,-0.408499,...,98.688231,-0.151058,0.988525,-6.544019,7,2,5,5,2,-3
1,0.946625,0.892100,0.682786,-175.257624,-0.996577,-0.082676,0.082960,-83.308432,0.116525,-0.993188,...,56.916564,0.545860,0.837877,1.534967,4,4,3,0,1,1
2,0.813049,1.083588,0.677145,-162.727849,-0.954905,-0.296911,0.310932,-75.519693,0.250047,-0.968234,...,37.152301,0.797033,0.603936,0.757730,3,5,3,-2,0,2
3,0.827905,0.499070,1.382476,138.771771,-0.752090,0.659060,-0.876304,-31.683823,0.850959,-0.525231,...,59.895457,0.501579,0.865112,1.724775,4,2,6,2,-2,-4
4,0.702384,0.731350,1.042135,165.550330,-0.968367,0.249529,-0.257681,-59.864250,0.502050,-0.864838,...,52.395419,0.610209,0.792241,1.298312,3,3,4,0,-1,-1

# Targets de Treinamento: Arquivo Outdoor_y_train_90%

In [10]:
#y_train lat and Lon Outdoor 90%
#y_train_lat, y_train_lon 
y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3 = y_RSSIs("DatabasesTCC/Outdoor_y_train_90%.csv")
y_train_rssi_1_1.head()

    rssi_1_1
0 -87.185714
1 -85.330000
2 -90.572857
3 -96.702857
4 -91.864286

# y_test 10 %

In [11]:
#y_train lat and Lon Outdoor 90%
#y_train_lat, y_train_lon 
y_test_rssi_1_1, y_test_rssi_1_2, y_test_rssi_1_3, y_test_rssi_2_1, y_test_rssi_2_2, y_test_rssi_2_3, y_test_rssi_3_1, y_test_rssi_3_2, y_test_rssi_3_3 = y_RSSIs("DatabasesTCC/Outdoor_y_test_10%.csv")
y_test_rssi_1_1.head()

     rssi_1_1
0  -94.588571
1 -103.010000
2  -95.202857
3  -92.422619
4  -86.227143

# Geração dos Arquivos Outdoor, Indoor, Indoor-Outdoor:

# Arquivo Outdoor:

In [ ]:
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
y_test = pd.read_csv("databasesTCC/Outdoor_y_test_10%.csv")
y_test['delay_1'] = X_test['delay_1']
y_test['delay_2'] = X_test['delay_2']
y_test['delay_3'] = X_test['delay_3']
y_test['delay_12'] = X_test['delay_12']
y_test['delay_13'] = X_test['delay_13']
y_test['delay_23'] = X_test['delay_23']
y_test['idx'] = X_test['idx']
#y_test = y_test.head(150)#150
sample_n_outdoor = y_test.sample(n = 400)
rest_sample_n_outdoor = y_test.drop(sample_n_outdoor.index) 
y_test = sample_n_outdoor
#rest_sample_n_outdoor = rest_sample_n_outdoor.sample(n = 200)

y_test.to_csv("./Test/Outdoor_Test.csv", index=False)
y_test.head()

# Arquivo Indoor:

In [ ]:
X_test = pd.read_csv("databasesTCC/indoor_X_test_10%.csv")
y_test = pd.read_csv("databasesTCC/indoor_y_test_10%.csv")
y_test['delay_1'] = X_test['delay_1']
y_test['delay_2'] = X_test['delay_2']
y_test['delay_3'] = X_test['delay_3']
y_test['delay_12'] = X_test['delay_12']
y_test['delay_13'] = X_test['delay_13']
y_test['delay_23'] = X_test['delay_23']
y_test['idx'] = X_test['idx']
#y_test = y_test.head(150)#150
sample_n_indoor = y_test.sample(n = 400)
rest_sample_n_indoor = y_test.drop(sample_n_indoor.index) 
y_test = sample_n_indoor
#rest_sample_n_indoor = rest_sample_n_indoor.sample(n = 200)

y_test.to_csv("./Test/Indoor_Test.csv", index=False)
y_test.head()

# Arquivo Indoor-Outdoor:

In [ ]:
X_test_outdoor = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
y_test_outdoor = pd.read_csv("databasesTCC/Outdoor_y_test_10%.csv")
y_test_outdoor['delay_1'] = X_test_outdoor['delay_1']
y_test_outdoor['delay_2'] = X_test_outdoor['delay_2']
y_test_outdoor['delay_3'] = X_test_outdoor['delay_3']
y_test_outdoor['delay_12'] = X_test_outdoor['delay_12']
y_test_outdoor['delay_13'] = X_test_outdoor['delay_13']
y_test_outdoor['delay_23'] = X_test_outdoor['delay_23']
y_test_outdoor['idx'] = X_test_outdoor['idx']

rest_sample_n_outdoor = rest_sample_n_outdoor.sample(n = 200)
#y_test_outdoor = y_test_outdoor.tail(75)#75
y_test_outdoor = rest_sample_n_outdoor 


X_test_indoor = pd.read_csv("databasesTCC/indoor_X_test_10%.csv")
y_test_indoor = pd.read_csv("databasesTCC/indoor_y_test_10%.csv")
y_test_indoor['delay_1'] = X_test_indoor['delay_1']
y_test_indoor['delay_2'] = X_test_indoor['delay_2']
y_test_indoor['delay_3'] = X_test_indoor['delay_3']
y_test_indoor['delay_12'] = X_test_indoor['delay_12']
y_test_indoor['delay_13'] = X_test_indoor['delay_13']
y_test_indoor['delay_23'] = X_test_indoor['delay_23']
y_test_indoor['idx'] = X_test_indoor['idx']

rest_sample_n_indoor = rest_sample_n_indoor.sample(n = 200)
#y_test_indoor = y_test_indoor.tail(75)#75
y_test_indoor = rest_sample_n_indoor

df_indoor_outdoor = pd.concat([y_test_outdoor, y_test_indoor])
df_indoor_outdoor.to_csv("./Test/Indoor-Outdoor_Test.csv", index=False)
df_indoor_outdoor.head()

In [1]:
def pot_2(i):
    i = 2**i
    return i

# X_train 90%

In [14]:
X_train = pd.read_csv("databasesTCC/Outdoor_X_train_90%.csv")
X_train = X_train.drop("lat", axis = 1)
X_train = X_train.drop("lon", axis = 1)
X_train = X_train.drop("idx", axis = 1)
X_train.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.623132,0.504054,1.266725,158.235526,-0.928716,0.370792,-0.399252,-155.889424,-0.912759,-0.408499,...,98.688231,-0.151058,0.988525,-6.544019,7,2,5,5,2,-3
1,0.946625,0.892100,0.682786,-175.257624,-0.996577,-0.082676,0.082960,-83.308432,0.116525,-0.993188,...,56.916564,0.545860,0.837877,1.534967,4,4,3,0,1,1
2,0.813049,1.083588,0.677145,-162.727849,-0.954905,-0.296911,0.310932,-75.519693,0.250047,-0.968234,...,37.152301,0.797033,0.603936,0.757730,3,5,3,-2,0,2
3,0.827905,0.499070,1.382476,138.771771,-0.752090,0.659060,-0.876304,-31.683823,0.850959,-0.525231,...,59.895457,0.501579,0.865112,1.724775,4,2,6,2,-2,-4
4,0.702384,0.731350,1.042135,165.550330,-0.968367,0.249529,-0.257681,-59.864250,0.502050,-0.864838,...,52.395419,0.610209,0.792241,1.298312,3,3,4,0,-1,-1

# y_train 90%

In [16]:
y_train = pd.read_csv("databasesTCC/Outdoor_y_train_90%.csv")
y_train.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-87.185714,-82.670000,-88.132857,-88.060000,-71.2075,-64.230000,-81.900000,-83.340000,-97.2550
1,-85.330000,-92.748571,-87.200000,-85.700000,-86.3150,-94.741429,-87.758333,-93.826000,-95.6050
2,-90.572857,-103.390000,-101.370000,-99.448333,-97.7750,-103.780000,-88.533333,-96.576667,-100.8350
3,-96.702857,-85.198571,-90.840000,-83.580000,-96.4925,-95.598571,-93.293333,-96.518000,-96.3575
4,-91.864286,-88.760000,-92.514286,-88.010000,-96.0925,-95.335714,-94.943333,-98.450000,-96.7925

# X_test 10%

In [17]:
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
X_test = X_test.drop("lat", axis = 1)
X_test = X_test.drop("lon", axis = 1)
X_test = X_test.drop("idx", axis = 1)
X_test.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.381194,1.169714,0.327354,-166.430115,-0.972084,-0.234631,0.241369,-104.623113,-0.252460,-0.967607,...,94.651068,-0.081087,0.996707,-12.291773,6,5,1,1,5,4
1,0.664883,0.676311,1.429879,132.739565,-0.678667,0.734446,-1.082189,-28.186241,0.881417,-0.472339,...,52.782734,0.604839,0.796348,1.316627,3,3,6,0,-3,-3
2,0.983289,0.359384,1.459081,136.414634,-0.724348,0.689435,-0.951800,-21.180938,0.932444,-0.361314,...,65.553328,0.413846,0.910347,2.199723,4,2,6,2,-2,-4
3,1.232941,0.412945,1.072575,160.520250,-0.942759,0.333474,-0.353721,-106.173062,-0.278540,-0.960425,...,81.760284,0.143315,0.989677,6.905608,5,2,5,3,0,-3
4,1.062763,0.390264,1.127756,156.464321,-0.916812,0.399320,-0.435553,-79.220382,0.187032,-0.982354,...,72.361108,0.303017,0.952985,3.144991,5,2,5,3,0,-3

# y_test 10%

In [18]:
y_test = pd.read_csv("databasesTCC/Outdoor_y_test_10%.csv")
y_test.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-94.588571,-97.102857,-94.058571,-96.128333,-92.27500,-90.411429,-77.951667,-73.190,-94.7525
1,-103.010000,-84.498571,-97.591429,-95.010000,-98.83750,-97.332857,-100.650000,-101.620,-94.4075
2,-95.202857,-86.280000,-93.030000,-53.330000,-84.96500,-81.080000,-90.826667,-94.342,-98.9125
3,-92.422619,-90.242143,-93.064643,-80.359286,-87.13750,-86.910952,-91.338333,-93.248,-97.2550
4,-86.227143,-86.231429,-87.885714,-72.830000,-80.56625,-85.737143,-90.191667,-90.704,-97.6000

In [ ]:
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
X_test = X_test.drop("lat", axis = 1)
X_test = X_test.drop("lon", axis = 1)
X_test = X_test.drop("idx", axis = 1)
X_test.head()

In [27]:
def CDB_ReducedByPDs(delay_1,delay_2, delay_3, delay_12, delay_13, delay_23, CDB):

    PDs_df = CDB.loc[(CDB['delay_1'] == delay_1)]
    PDs_df = PDs_df.loc[(CDB['delay_2'] == delay_2)]
    PDs_df = PDs_df.loc[(CDB['delay_3'] == delay_3)]
    PDs_df = PDs_df.loc[(CDB['delay_12'] == delay_12)]
    PDs_df = PDs_df.loc[(CDB['delay_13'] == delay_13)]
    PDs_df = PDs_df.loc[(CDB['delay_23'] == delay_23)]

    return PDs_df

#CDB_Reduced = CDB_ReducedByPDs(4,4,3,0,1,1, X_train)
#CDB_Reduced.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
1,0.946625,0.892100,0.682786,-175.257624,-0.996577,-0.082676,0.082960,-83.308432,0.116525,-0.993188,...,56.916564,0.545860,0.837877,1.534967,4,4,3,0,1,1
74,0.946859,0.917538,0.662936,-173.717495,-0.993994,-0.109431,0.110092,-83.355757,0.115704,-0.993284,...,55.560169,0.565540,0.824721,1.458287,4,4,3,0,1,1
92,0.913089,0.957671,0.657786,-171.250835,-0.988364,-0.152109,0.153900,-81.299225,0.151274,-0.988492,...,51.037180,0.628816,0.777554,1.236537,4,4,3,0,1,1
148,0.858980,0.940785,0.710717,-172.478825,-0.991397,-0.130893,0.132028,-77.990948,0.208066,-0.978115,...,49.189003,0.653566,0.756870,1.158062,4,4,3,0,1,1
283,0.865839,0.957149,0.694525,-171.360027,-0.988652,-0.150225,0.151949,-78.469659,0.199887,-0.979819,...,48.514277,0.662433,0.749121,1.130862,4,4,3,0,1,1

In [19]:
import pandas as pd 

X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
y_test = pd.read_csv("databasesTCC/Outdoor_y_test_10%.csv")
y_test['delay_1'] = X_test['delay_1']
y_test['delay_2'] = X_test['delay_2']
y_test['delay_3'] = X_test['delay_3']
y_test['delay_12'] = X_test['delay_12']
y_test['delay_13'] = X_test['delay_13']
y_test['delay_23'] = X_test['delay_23']
y_test['idx'] = X_test['idx']

#y_test = y_test.head(150)#150
#y_test.to_csv("./Test/Outdoor_Test.csv", index=False)
y_test.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,idx
314,-84.950000,-96.140000,-91.750000,-93.270000,-89.7700,-92.960000,-84.628333,-80.470,-97.3875,6,4,2,2,4,2,7303
510,-90.047143,-98.245714,-87.010000,-100.931667,-98.2575,-90.911429,-84.566667,-93.052,-63.2700,6,7,1,-1,5,6,7818
185,-90.047143,-98.245714,-91.970000,-100.931667,-98.2575,-90.911429,-84.566667,-98.116,-66.8500,6,7,1,-1,5,6,7851
69,-82.674286,-100.288571,-82.805714,-95.720000,-100.2250,-82.771429,-81.668333,-85.380,-64.3300,7,7,1,0,6,6,7302
231,-89.598571,-94.084286,-80.260000,-98.341667,-95.4775,-93.094286,-84.000000,-102.688,-90.2700,5,7,3,-2,2,4,8916

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,idx
84,-91.954881,-88.975584,-91.550000,-94.231667,-73.80000,-76.418214,-91.786944,-91.629273,-95.857500,8,3,5,5,3,-2,6637
526,-92.568571,-98.568571,-93.131429,-96.198333,-89.21500,-90.298571,-81.481667,-69.580000,-90.080000,6,5,1,1,5,4,7193
581,-81.200000,-98.255357,-87.450000,-101.535000,-98.14875,-90.656905,-83.063889,-99.934667,-97.435000,3,5,3,-2,0,2,8766
270,-90.700000,-75.380000,-95.263571,-90.691667,-97.68500,-100.962857,-106.070000,-102.064000,-94.407500,3,3,6,0,-3,-3,9366
599,-92.876190,-98.432857,-89.902857,-103.375833,-101.51750,-95.780000,-78.347667,-81.350571,-91.538333,6,6,1,0,5,5,7538