In [30]:
%run Imports.ipynb

# Arquivo de teste: Outdoor_X_test_10% Apenas dados Outdoor

In [31]:
# X_test Outdoor X_test 10%
X_test = pd.read_csv("databasesTCC/Outdoor_X_test_10%.csv")
X_test = X_test.drop("lat", axis = 1)
X_test = X_test.drop("lon", axis = 1)
idx_test = X_test["idx"]
X_test = X_test.drop("idx", axis = 1)
X_test.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.381194,1.169714,0.327354,-166.429703,-0.972083,-0.234638,0.241377,-104.621674,-0.252435,-0.967614,...,94.650653,-0.081080,0.996708,-12.292874,6,5,1,1,5,4
1,0.664883,0.676311,1.429879,132.738945,-0.678659,0.734453,-1.082213,-28.185835,0.881420,-0.472333,...,52.781288,0.604859,0.796332,1.316558,3,3,6,0,-3,-3
2,0.983289,0.359384,1.459081,136.413773,-0.724338,0.689445,-0.951829,-21.180773,0.932445,-0.361312,...,65.551640,0.413873,0.910335,2.199551,4,2,6,2,-2,-4
3,1.232941,0.412945,1.072575,160.519728,-0.942756,0.333482,-0.353731,-106.172558,-0.278531,-0.960427,...,81.758935,0.143338,0.989674,6.904462,5,2,5,3,0,-3
4,1.062763,0.390264,1.127756,156.463782,-0.916808,0.399329,-0.435564,-79.219895,0.187040,-0.982352,...,72.359742,0.303040,0.952978,3.144731,5,2,5,3,0,-3

# Geração dos RSSIs do CDB com LightGBM do que já foi construído:

In [32]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
df_meds_CDB = y_pred_write_File(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB, 2)
df_meds_CDB.to_csv("./CDB/CDB_20_LightGBM.csv", index=False)
df_meds_CDB.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943
1,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943
2,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943
3,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943
4,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943

In [33]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_LightGBM = pd.read_csv("./CDB/CDB_20_LightGBM.csv")
df_meds_CDB_LightGBM['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_LightGBM['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_LightGBM['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_LightGBM['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_LightGBM['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_LightGBM['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_LightGBM['lat'] = df_meds_CDB['lat']
df_meds_CDB_LightGBM['lon'] = df_meds_CDB['lon']
df_meds_CDB_LightGBM.to_csv("./CDB/CDB_20_LightGBM_Complete.csv", index=False)
df_meds_CDB_LightGBM.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,lat,lon
0,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943,8,8,2,0,6,6,-8.05955,-34.959850
1,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943,8,8,2,0,6,6,-8.05955,-34.959648
2,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943,8,8,2,0,6,6,-8.05955,-34.959446
3,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943,8,8,2,0,6,6,-8.05955,-34.959244
4,-88.805625,-92.617442,-88.940553,-88.338837,-90.544829,-89.210798,-87.818557,-91.322734,-93.068943,8,7,2,1,6,5,-8.05955,-34.959042

# Implementação do SVR:

In [34]:
X_train.head()

,dist_1,dist_2,dist_3,ang_1,cos_1,sin_1,tg_1,ang_2,cos_2,sin_2,...,ang_3,cos_3,sin_3,tg_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23
0,1.700955,0.817077,1.003914,170.299681,-0.985703,0.168495,-0.170939,-140.369205,-0.770171,-0.637838,...,111.046648,-0.359128,0.933288,-2.598763,7,3,4,4,3,-1
1,1.033631,0.441063,1.084138,158.740472,-0.931948,0.362593,-0.389070,-79.013724,0.190574,-0.981673,...,71.008261,0.325432,0.945566,2.905572,4,2,5,2,-1,-3
2,1.842431,0.754229,1.282026,162.521752,-0.953831,0.300344,-0.314881,-160.286953,-0.941394,-0.337310,...,110.132440,-0.344191,0.938900,-2.727842,8,3,5,5,3,-2
3,0.504172,1.189880,0.963842,-153.790791,-0.897187,-0.441650,0.492261,-59.995633,0.500066,-0.865987,...,26.342135,0.896160,0.443730,0.495146,2,5,4,-3,-2,1
4,1.041922,1.716220,0.740720,-125.344335,-0.578489,-0.815690,1.410036,-74.984922,0.259073,-0.965858,...,-15.625616,0.963042,-0.269350,-0.279687,4,7,3,-3,1,4

In [20]:
from sklearn import svm
X = X_train
y = y_train_rssi_1_1
regr = svm.SVR()
regr.fit(X, y)

#regr.predict([[1, 1]])

C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
from sklearn import svm

def SVR_TCC(X_train, y_train, X_test):

    X = X_train
    y = y_train
    regr = svm.SVR(C=64, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8,kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
    """('MAE :', 1.9799347439789106, '| RMSE :', 3.2850703889062696, '| best_svr :', SVR(C=256, cache_size=200, coef0=0.1, degree=3, epsilon=0.5, gamma=8,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False))"""
    
    regr.fit(X, y)
    y_pred = regr.predict(X_test)
    
    return y_pred

def y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, X_test):
     
    y_pred_rssi_1_1 = SVR_TCC(X_train, y_train_rssi_1_1, X_test)
    y_pred_rssi_1_2 = SVR_TCC(X_train, y_train_rssi_1_2, X_test)
    y_pred_rssi_1_3 = SVR_TCC(X_train, y_train_rssi_1_3, X_test)
    
    y_pred_rssi_2_1 = SVR_TCC(X_train, y_train_rssi_2_1, X_test)
    y_pred_rssi_2_2 = SVR_TCC(X_train, y_train_rssi_2_2, X_test)
    y_pred_rssi_2_3 = SVR_TCC(X_train, y_train_rssi_2_3, X_test)
    
    y_pred_rssi_3_1 = SVR_TCC(X_train, y_train_rssi_3_1, X_test)
    y_pred_rssi_3_2 = SVR_TCC(X_train, y_train_rssi_3_2, X_test)
    y_pred_rssi_3_3 = SVR_TCC(X_train, y_train_rssi_3_3, X_test)
    
    y_pred_rssi_1_1 = pd.DataFrame({'rssi_1_1':  y_pred_rssi_1_1})
    y_pred_rssi_1_2 = pd.DataFrame({'rssi_1_2':  y_pred_rssi_1_2})
    y_pred_rssi_1_3 = pd.DataFrame({'rssi_1_3':  y_pred_rssi_1_3})
    
    y_pred_rssi_2_1 = pd.DataFrame({'rssi_2_1':  y_pred_rssi_2_1})
    y_pred_rssi_2_2 = pd.DataFrame({'rssi_2_2':  y_pred_rssi_2_2})
    y_pred_rssi_2_3 = pd.DataFrame({'rssi_2_3':  y_pred_rssi_2_3})
    
    y_pred_rssi_3_1 = pd.DataFrame({'rssi_3_1':  y_pred_rssi_3_1})
    y_pred_rssi_3_2 = pd.DataFrame({'rssi_3_2':  y_pred_rssi_3_2})
    y_pred_rssi_3_3 = pd.DataFrame({'rssi_3_3':  y_pred_rssi_3_3})
    
    y_pred = pd.concat([y_pred_rssi_1_1, y_pred_rssi_1_2, y_pred_rssi_1_3, y_pred_rssi_2_1, y_pred_rssi_2_2, y_pred_rssi_2_3, y_pred_rssi_3_1, y_pred_rssi_3_2, y_pred_rssi_3_3], axis=1)
    
    return y_pred

# Geração dos RSSIs do CDB com SVR do que já foi construído:

In [36]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB = df_meds_CDB.drop("lat", axis = 1)
df_meds_CDB = df_meds_CDB.drop("lon", axis = 1)
df_meds_CDB = y_pred_SVR(X_train, y_train_rssi_1_1, y_train_rssi_1_2, y_train_rssi_1_3, y_train_rssi_2_1, y_train_rssi_2_2, y_train_rssi_2_3, y_train_rssi_3_1, y_train_rssi_3_2, y_train_rssi_3_3, df_meds_CDB)
df_meds_CDB.to_csv("./CDB/CDB_20_SVR.csv", index=False)
df_meds_CDB.head()

C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DOUGLAS.SILVA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3
0,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906
1,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906
2,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906
3,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906
4,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906

In [37]:
df_meds_CDB = pd.read_csv("./CDB/CDB_20.csv")
df_meds_CDB_LightGBM = pd.read_csv("./CDB/CDB_20_SVR.csv")
df_meds_CDB_LightGBM['delay_1'] = df_meds_CDB['delay_1']
df_meds_CDB_LightGBM['delay_2'] = df_meds_CDB['delay_2']
df_meds_CDB_LightGBM['delay_3'] = df_meds_CDB['delay_3']
df_meds_CDB_LightGBM['delay_12'] = df_meds_CDB['delay_12']
df_meds_CDB_LightGBM['delay_13'] = df_meds_CDB['delay_13']
df_meds_CDB_LightGBM['delay_23'] = df_meds_CDB['delay_23']
df_meds_CDB_LightGBM['lat'] = df_meds_CDB['lat']
df_meds_CDB_LightGBM['lon'] = df_meds_CDB['lon']
df_meds_CDB_LightGBM.to_csv("./CDB/CDB_20_SVR_Complete.csv", index=False)
df_meds_CDB_LightGBM.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,delay_12,delay_13,delay_23,lat,lon
0,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906,8,8,2,0,6,6,-8.05955,-34.959850
1,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906,8,8,2,0,6,6,-8.05955,-34.959648
2,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906,8,8,2,0,6,6,-8.05955,-34.959446
3,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906,8,8,2,0,6,6,-8.05955,-34.959244
4,-88.817678,-93.150704,-88.897993,-88.890556,-90.548228,-89.197171,-87.053547,-90.544177,-92.051906,8,7,2,1,6,5,-8.05955,-34.959042